/*PRESETS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/*ANIMATIONS*/
.coming {
  position: relative;
  left: -100vw;
  transition: left 1s ease-in;
}

.comeOn {
  left: 0;
}

.fadingFast {
  opacity: 0;
  transition: opacity 1s linear 0.2s;
}

.fading {
  opacity: 0;
  transition: opacity 0.5s linear 0.8s;
}

.fadeOn {
  opacity: 1;
}

.bar {
  width: 0;
  background-color: #434343;
  height: 40px;
}

.crecerOn {
  animation: crecer 4s ease-out 0.7s;
  animation-fill-mode: forwards;
}

@keyframes crecer {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: white;
}
.loader img {
  width: 180px;
}

/*GENERAL STYLE*/
body {
  font-family: "Dosis", sans-serif;
  color: #434343;
}

.d-flex {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.no-scroll {
  overflow-y: hidden;
}

.d-none {
  display: none !important;
}

.bold {
  font-weight: bold;
}

.thin {
  font-weight: 300;
}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.row {
  display: flex;
  display: -webkit-flex;
}

.row * {
  flex: auto;
  -webkit-flex: auto;
}

main > section {
  margin-bottom: 120px !important;
}

section h2 {
  margin-bottom: 10px;
}

.folio {
  width: 90%;
  max-width: 900px;
  margin: auto;
  font-family: "Indie Flower", cursive;
  position: relative;
  background-color: white;
  padding: 100px 0px;
  margin-top: 100px;
  background: url("../img/paper.png");
}
.folio ::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -25px;
  background: white;
  border-left: solid 37px transparent;
  border-right: solid 40px transparent;
  border-top: solid 39px white;
  -webkit-transform: rotate(134deg);
  -moz-transform: rotate(134deg);
  -ms-transform: rotate(134deg);
  transform: rotate(134deg);
}
.folio header {
  display: grid;
  grid-template-columns: auto 35%;
}
.folio header h2 {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 20px;
}
.folio header h2 strong {
  font-size: 25px;
  text-transform: uppercase;
}
.folio section {
  padding: 100px 0 40px 20px;
}
.folio h3 {
  border-bottom: 1px solid #434343;
}
.folio .grid {
  grid-template-columns: 20% auto;
  grid-column-gap: 10px;
  margin: 20px 0;
}
.folio .descripcion {
  color: gray;
}

/*HEADER*/
#menuCont {
  background-color: #303f7e;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px;
  z-index: 10;
  height: 65px;
}

.logo span {
  float: left;
  font-size: 19px;
  margin: 14px 10px 10px 30px;
  color: white;
  font-weight: bold;
}

/*********************
BOTON MENU
*********************/
#menuTrigger {
  display: none;
}
#menuTrigger :checked ~ ul {
  transform: translatex(0);
}
#menuTrigger :checked + #menuBut {
  background-image: url("../img/close-w.png");
}

#menuBut {
  float: right;
  margin: 10px 20px 10px 10px;
  background-image: url("../img/boton.png");
  background-size: 100% 100%;
  width: 38px;
  height: 32px;
}
#menuBut :hover {
  cursor: pointer;
}

#menuCont ul {
  position: absolute;
  transform: translatex(100%);
  transition: transform 0.5s ease-in-out;
  background-color: #3e3e3e;
  top: 65px;
  right: 0;
  padding: 15px;
  height: 100vh;
}
#menuCont ul li {
  padding: 10px 5px;
}
#menuCont ul li :hover {
  cursor: pointer;
  transform: scale(1.06);
}
#menuCont ul li a {
  color: white;
  font-size: 18px;
}

/***************************/
/*HOME*/
#inicio {
  width: 100%;
  height: 100vh;
  background-image: url("../img/fondo");
  background-size: cover;
  background-attachment: fixed;
}
#inicio div {
  background-color: rgba(48, 63, 126, 0.6);
  padding: 40px;
  max-width: 600px;
}
#inicio h1 {
  color: white;
  text-transform: uppercase;
  font-size: 26px;
}
#inicio h1 span {
  font-size: 40px;
  margin-bottom: 20px;
  display: block;
}

.avatar img {
  max-width: 190px;
  float: right;
}

.esquina-doblada .fondo {
  position: absolute;
  top: -4px;
  left: -25px;
  background: white;
  border-left: solid 37px transparent;
  border-right: solid 40px transparent;
  border-top: solid 39px white;
  -webkit-transform: rotate(134deg);
  -moz-transform: rotate(134deg);
  -ms-transform: rotate(134deg);
  transform: rotate(134deg);
}
.esquina-doblada .doblez {
  position: absolute;
  top: -4px;
  left: -25px;
  background: url("../img/paper.png");
  border-left: solid 37px transparent;
  border-right: solid 40px transparent;
  border-top: solid 39px #d2d1d1;
  -webkit-transform: rotate(314deg);
  -moz-transform: rotate(314deg);
  -ms-transform: rotate(314deg);
  transform: rotate(314deg);
}
.esquina-doblada .sombra-abajo {
  position: absolute;
  top: 54px;
  left: 0;
  width: 51px;
  height: 0;
  border-top: 1px solid transparent;
  box-shadow: 1px 1px 3px #e1e1e1;
}
.esquina-doblada .sombra-derecha {
  position: absolute;
  top: 28px;
  left: 27px;
  width: 52px;
  height: 0;
  border-top: 1px solid transparent;
  box-shadow: 1px 1px 3px #e1e1e1;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.aptitudes-wrap {
  max-width: 385px;
  margin-top: 40px;
}

.aptitud {
  margin-bottom: 15px;
}

/*FORMULARIO*/
#formulario {
  padding: 60px 20px;
}
#formulario header button {
  margin: auto;
  margin-top: 30px;
  display: block;
  background-color: #303f7e;
  border: 0;
  color: white;
  padding: 15px;
}
#formulario header button :hover {
  cursor: pointer;
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}
#formulario #form {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  padding-bottom: 100px;
}
#formulario #form button:active {
  background-color: #1a2348;
}
#formulario #form form {
  margin: auto;
  max-width: 600px;
  margin-bottom: 60px;
}
#formulario #form form section {
  margin-top: 30px;
}
#formulario #form form .form-group {
  margin: 10px;
}
#formulario #form form input, #formulario #form form textarea {
  width: 100%;
  border: 0;
  background-color: #ececec;
  padding: 10px;
}
#formulario #form form input :focus, #formulario #form form textarea :focus {
  background-color: bisque;
}
#formulario #form form label {
  display: block;
}
#formulario #form form .entry {
  border-bottom: 1px solid;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#formulario #form form button {
  background-color: #303f7e;
  border: none;
  color: white;
  padding: 10px;
}
#formulario #form form button [type=submit] {
  display: block;
  margin-left: auto;
  margin-top: 30px;
  font-size: 14px;
  text-transform: uppercase;
}
#formulario .closeButton {
  float: right;
  margin: 20px 20px 0 0;
  background: none;
  border: none;
  width: 32px;
}

/*# sourceMappingURL=style.css.map */
